body {
   background-color: #cccccc;
}

.header {
   background-color: #ff9933;
   position: fixed;
   top:0;
   left:0;
   height: 5%;
   width:100%;
}

.searchBar {
   background-color: #66ffb3;
   width:100%;
}

.searchResults {
   float: left;
   width: 31%;
   height: 70%;
   background-color: #e6b3ff;

}

.profSection {
   
   float: right;
   width: 68%;
   height:70%;
   background-color: #80bfff;
}

ul {
   overflow: hidden;
   overflow-y: scroll;
}
