html {
   height: 100%;
   width: 100%;
   margin: 0;
}

body {
   background-color: #cccccc;
   width: 100%;
   height: 100%;
   margin: 0;
}

#resultsWrapper {
   border: 1px solid #000000;
   height: 50vh;
}

.marginless {
   max-height: 50vh;
   overflow: auto;
   margin: 0px !important;
   padding: 0px !important;
}

.header-image {
    background-size: auto;
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.row {
   margin-left: auto;
   margin-right: auto;
}

#header-content {
    position: absolute;
    padding: 20px;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #000;
    z-index: 10;
}

.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
}

.navbar {
   margin-left: 0;
   margin-bottom: 0px !important;
}

.navbar-inverse {
   background-color: #ff9933 !important;
   border-color: #ff9933 !important;
}

.navbar-inverse .navbar-nav > li > a {
   color: white !important;
}

.navbar-inverse .navbar-brand {
   color: white !important;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
   color: white !important;
   background-color: #e65c00 !important;
}

.navbar-inverse .navbar-toggle {
   border-color: #e65c00;
}

.navbar-inverse .navbar-toggle:hover {
   background-color: #e65c00;
}

.list-group-item {

    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #eee;
    color: black;
    border: 1px solid #ddd;
    border-top-color: rgb(221, 221, 221);
    border-right-color: rgb(221, 221, 221);
    border-bottom-color: rgb(221, 221, 221);
    border-left-color: rgb(221, 221, 221);

}

.list-group-item:hover{
    background-color: #ddd;
}

.list-group-item:focus{
    color: white;
    background-color: #e65c00;
}

.searchArea {
   height: 15%;
}


#searchBar {
   width: 100%;
}

#profPic {
   text-align: left;
}

/* #searchResults {
   position: absolute;
   width: 31%;
   background-color: #e6b3ff;
   flex-grow: 1;
} */

/* #profSection {
   width: 68%;
   background-color: #80bfff;
   flex-grow: 1;
} */
