<!DOCTYPE html>
<html>
   <head>
      <title>About Princeton AdvisorSearch</title>
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" integrity="sha384-p2jx59pefphTFIpeqCcISO9MdVfIm4pNnsL08A6v5vaQc4owkQqxMV8kg4Yvhaw/" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
      <link rel="icon" href="https://www.cs.princeton.edu/favicon" />
   </head>

   <body>

      <div class="container-fluid" style="background-color: #fff">
        <center>
         <div class="row" style="width:100%">
            <div class="row">
               <nav class="navbar navbar-inverse" id="navbar">
                 <div class="container-fluid">
                   <div class="navbar-header">
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                     </button>
                     <a class="navbar-brand" href="/">Princeton Advisor Search</a>
                   </div>
                   <div class="collapse navbar-collapse" id="myNavbar">
                     <ul class="nav navbar-nav navbar-right">
                       <li><a href="/">Home</a></li>
                       <li class="active"><a href="/about">About</a></li>
                       <li><a href="/resources">Resources</a></li>
                       <li><a href="{{logLink}}">{{logState}}</a></li>
                     </ul>
                   </div>
                 </div>
              </nav>
            </div>

            <div class="row" style="width:100%">
               <div class="col-md-2 visible-lg">
                  <div class="row">
                     <img src="static/strip21.png" style="width:100%;">
                  </div>
                  <div class="row">
                     <img src="static/strip22.png" style="width:100%;">
                  </div>
                  <div class="row">
                     <img src="static/strip23.png" style="width:100%;">
                  </div>
                  <div class="row">
                     <img src="static/strip24.png" style="width:100%;">
                  </div>
                  <div class="row">
                     <img src="static/strip11.png" style="width:100%;">
                  </div>
                  <div class="row">
                     <img src="static/strip12.png" style="width:100%;">
                  </div>
                  <div class="row">
                     <img src="static/strip13.png" style="width:100%;">
                  </div>
                  <div class="row">
                     <img src="static/strip14.png" style="width:100%;">
                  </div>
               </div>

               <div class="col-lg-8 col-xs-12">
                  <center>
                  <div class="row">
                     <h1>About Princeton Advisor Search</h1>
                     <h3>Our Mission</h3>
                     <p>Every year Princeton juniors and seniors in the COS department face the daunting task of finding an advisor to work with on their independent work and thesis. As the capstone projects of their Princeton careers, independent work and the senior thesis are the most important projects that they will have ever worked on. Oftentimes the relationship with their faculty advisor will determine how well the project goes, as well as potential future collaboration and recommendation. Thus, finding an advisor who is a good match, is one of the most important jobs for upperclassmen.</p>
                     <p>We aim to ease this stressful process by matching students with advisors based on areas of research. By connecting students with advisors, we hope to become the go-to resource on searching for faculty research.</p>
                     <p>This website was developed as a COS333 project in the fall of 2019.</p>
                  </div>

                  <div class="row align-items-center">
                     <h3>Team Members</h3>
                     <div class="col-md-3 col-xs-12">
                        <img src="https://environment.princeton.edu/wp-content/uploads/2019/11/Lichtblau_Aaron2.jpg" alt="Aaron" style="width:160px;height:200px;"> <br />
                        <p>Aaron Lichtblau ('21)</p>

                     </div>
                     <div class="col-md-3 col-xs-12">
                        <img src="https://live.staticflickr.com/65535/49337052028_781612d961_b.jpg" alt="Van" style="width:160px;height:200px;"> <br />
                        <p>Van Brantley ('21)</p>

                     </div>
                     <div class="col-md-3 col-xs-12">
                        <img src="{{url_for('static', filename='face.png')}}" alt="Phillip" style="width:200px;height:200px;"> <br />
                        <a href="https://philliptay.github.io" target="_blank"><p>Phillip Taylor ('21)</p></a>
                     </div>
                     <div class="col-md-3 col-xs-12">
                        <img src="https://live.staticflickr.com/65535/49337096218_a7c838de93_k.jpg" alt="Kolby" style="width:160px;height:200px;"> <br />
                        <p>Kolby McDaniel ('20)</p>
                     </div>
                  </div>

                  <div class="row align-items-center">
                     <h3>Acknowledgements</h3>
                     <div class="col-md-3 col-xs-12">
                        <img src="https://www.cs.princeton.edu/sites/all/modules/custom/cs_people/generate_thumbnail.php?id=4671&thumb=" alt="Kevin" style="width:160px;height:200px;"><br>
                        <p>Kevin Lee</p>
                        <p>Teacher Assistant</p>
                     </div>
                     <div class="col-md-3 col-xs-12">
                        <img src="http://www.cs.princeton.edu/sites/all/modules/custom/cs_people/generate_thumbnail.php?id=12&thumb=" alt="Dondini" style="width:160px;height:200px;"> <br />
                        <p>Robert Dondero</p>
                        <p>Class Instructor</p>
                     </div>
                     <div class="col-md-3 col-xs-12">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/f/f1/Princetonshieldlarge.png" alt="Princeton" style="width:160px;height:200px;"> <br />
                        <p><a href="https://www.princetoncourses.com/" target="_blank">Princeton Courses</a></p>
                        <p>Inspiration</p>
                     </div>
                     <div class="col-md-3 col-xs-12">
                        <img src="static/joecool.png" alt="Snoop Dog" style="width:160px;height:200px;"> <br />
                        <p>Snoopy</p>
                        <p>Advisor</p>
                     </div>
                     <div class="col-md-12 col-xs-12">
                       <p class="aligncenter">
                         <img src="https://live.staticflickr.com/65535/49190384871_692b2fa5a7_c.jpg">
                         <p>Pictured from left to right: Kolby McDaniel ('20), Phillip Taylor ('21), Van Brantley ('21), Aaron Lichtblau ('21)</p>
                       </p>
                     </div>
                     </center>
                  </div>



               <div class="col-md-2 visible-lg">
                  <div class="row">
                     <img src="static/strip41.png" style="width:100%;">
                  </div>
                  <div class="row">
                     <img src="static/strip42.png" style="width:100%;">
                  </div>
                  <div class="row">
                     <img src="static/strip43.png" style="width:100%;">
                  </div>
                  <div class="row">
                     <img src="static/strip44.png" style="width:100%;">
                  </div>
                  <div class="row">
                     <img src="static/strip31.png" style="width:100%;">
                  </div>
                  <div class="row">
                     <img src="static/strip32.png" style="width:100%;">
                  </div>
                  <div class="row">
                     <img src="static/strip33.png" style="width:100%;">
                  </div>
                  <div class="row">
                     <img src="static/strip34.png" style="width:100%;">
                  </div>
               </div>
            </div>
         </div>
       </center>
      </div>

    <script>

        var navbar = document.getElementById("navbar");
        var sticky = navbar.offsetTop;

        function stickyNav() {
          if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
          } else {
            navbar.classList.remove("sticky");
          }
        }
      </script>
   </body>
</html>