<!DOCTYPE html>
<html>
   <head>
      <title>About Princeton AdvisorSearch</title>
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" integrity="sha384-p2jx59pefphTFIpeqCcISO9MdVfIm4pNnsL08A6v5vaQc4owkQqxMV8kg4Yvhaw/" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
      <link rel="icon" href="favicon.ico" type="image/x-icon">
   </head>
   <body>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Princeton Advisor Search</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/">Home</a></li>
              <li class="active"><a href="/about">About</a></li>
              <li><a href="/resources">Resources</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </div>
        </div>
     </nav>

     <div class="container">
        <div class="row">
           <div class="col-sm-12">
             <h4>Our Mission:</h4>
             <p>Every year Princeton juniors and seniors in the COS department face the daunting task of finding an advisor to work with on their independent work and thesis. As the capstone projects of their Princeton careers, independent work and the senior thesis are the most important projects that they will have ever worked on. Oftentimes the relationship with their faculty advisor will determine how well the project goes, as well as potential future collaboration and recommendation. Thus, finding an advisor who is a good match, is one of the most important jobs for upperclassmen.</p>
             <p>We aim to ease this stressful process by matching students with advisors based on areas of research. By connecting students with advisors, we hope to become the go-to resource on searching for faculty’s research.</p>
             <p>This website was developed as a COS333 project in the fall of 2019.</p>
           </div>
        </div>

        <div class="row">
           <div class="col-sm-12">
              <h4>The boys</h4>
              <img src="https://live.staticflickr.com/65535/49190384871_692b2fa5a7_c.jpg">
              <p>Pictured from left to right: Kolby McDaniel ('20), Phillip Taylor ('21), Van Brantley ('21), Aaron Lichtblau ('21)</p>
           </div>

        </div>
     </div>

   </body>
</html>
