<!DOCTYPE html>

<html>
   <head>
      <title>Princeton AdvisorSearch</title>
      <link rel="icon" href="https://www.cs.princeton.edu/favicon" />
      <!-- <link rel="shortcut icon" href="static/magny-glass.png"> -->
      <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="select2-bootstrap.css">
      <!-- <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script> -->
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
      <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1">

   </head>

   <body onLoad="getFavorited('None')">

      <div class="container-fluid">
         <div class="row">
            <div class="row">
               <nav class="navbar navbar-inverse">
                 <div class="container-fluid">
                   <div class="navbar-header">
                     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                     </button>
                     <a class="navbar-brand" href="/">Princeton Advisor Search</a>
                   </div>
                   <div class="collapse navbar-collapse" id="myNavbar">
                     <ul class="nav navbar-nav navbar-right">
                       <li class="active"><a href="/">Home</a></li>
                       <li><a href="/about">About</a></li>
                       <li><a href="/resources">Resources</a></li>
                       <li><a href="/logout">Logout</a></li>
                       <!-- <li><a href="{{logLink}}">{{logState}}</a></li> -->
                     </ul>
                   </div>
                 </div>
              </nav>
            </div>

            <div class="row searchArea" style="background-color: rgb(163, 162, 160);">
               <div class="col-lg-4 col-xs-12 searchBarLeft">
                  <p style='text-align: left; font-size:130%;'>Type a Professor's Name or Project Title</p>
                  <select id="searchBar" style = "width: 100%;" multiple="multiple" onchange="getResults()">
                     <script>
                        $('#searchBar').select2({
                           tags:["Computational Biology", "Computer Architecture", "Economics/Computation", "Graphics", "Vision", "Machine Learning", "AI", "Natural Language Processing", "Policy", "Programming Languages/Compilers", "Security & Privacy", "Systems", "Theory", "All"],
                           tokenSeparators: [",", " "],
                           placeholder: "Big Search Bar",
                        });
                        var data = $('searchBar').select2('data')
                    </script>
                  </select>
                  <br>
                  <button style="margin: 2px;" type="button" class="btn btn-success" name="button" onclick="getAll();">All Results</button>
                  <button style="margin: 2px;" type="button" class="btn btn-danger" name="button" onclick="clearAll();">Clear Results</button>
               </div>
               <div class="col-md-8 visible-lg searchButtons">
                  <p style='text-align: left; font-size:130%;'> Click Areas of Research</p>
                  <button style="margin: 1px;" type="button" name="button" id="CBbut" class="btn btn-info" style="color: info" onclick="selectCompBio('CBbut');">Computational Biology</button>
                  <button type="button" name="button" class="btn btn-info" id="CAbut" style="color: info" onclick="selectCompArch('CAbut');">Computer Architecture</button>
                  <button type="button" name="button" class="btn btn-info" id="ECbut" style="color: info" onclick="selectEconComp('ECbut');">Economics/Computation</button>
                  <button type="button" name="button" class="btn btn-info" id="Gbut" style="color: info" onclick="selectGraphics('Gbut');">Graphics</button>
                  <button style="margin: 1px;" type="button" name="button" id="Vbut" style="color: info" class="btn btn-info" onclick="selectVision('Vbut');">Vision</button>
                  <button type="button" name="button" class="btn btn-info" id="MLbut" style="color: info" onclick="selectML('MLbut');">Machine Learning</button>
                  <button type="button" name="button" class="btn btn-info" id="AIbut" style="color: info" onclick="selectAI('AIbut');">AI</button>
                  <button type="button" name="button" class="btn btn-info" id="NLPbut" style="color: info" onclick="selectNatLangProc('NLPbut');">Natural Language Processing</button>
                  <button type="button" name="button" class="btn btn-info" id="POLbut" style="color: info" onclick="selectPolicy('POLbut');">Policy</button>
                  <button style="margin: 1px;" type="button" name="button" id="PLCbut" style="color: info" class="btn btn-info" onclick="selectProgLangComp('PLCbut');">Programming Languages/Compilers</button>
                  <button type="button" name="button" class="btn btn-info" id="SPbut" style="color: info" onclick="selectSecPriv('SPbut');">Security & Privacy</button>
                  <button type="button" name="button" class="btn btn-info" id="SYSbut" style="color: info" onclick="selectSystems('SYSbut');">Systems</button>
                  <button type="button" name="button" class="btn btn-info" id="THEbut" style="color: info" onclick="selectTheory('THEbut');">Theory</button>
               </div>
            </div>

            <div class="row">
               <div class="col-md-4 col-xs-4">
                   <div id="favorited"></div>
                   <div id="searchResults"><h3>Search to Begin!</h3></div>
               </div>
               <div class="col-md-8 col-xs-8" id="profSection">
                  <h3>Welcome to Princeton Advisor Search!</h3>
                  <!-- Modal -->

                  <div id="contactModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                      <!-- Modal Content -->
                      <div class="modal-content" id="modal-content">
                      </div>
               </div>
            </div>
         </div>
      </div>




      <script src=
      "https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js">
           </script>
      <script>

      function setup(){
          $('#search').focus();
          $('#search').on('input', getResults);
      }
      let faveHeight = 0;
      function handleResponse(response)
      {
        if (response == "")
           $('#searchResults').html("(None)");
        else
           $('#searchResults').html(response);
        faveHeight = $('#fav-content').height();
        $('#resultsWrapper').css("max-height", $('#resultsWrapper').height()-faveHeight+"px");
      }

      let request = null;
      function getResults()
      {
      let inputs = $("#searchBar").val();
      inputs = encodeURIComponent(inputs);
      let url = '/searchresults?inputs=' + inputs;
      if (request != null)
        request.abort();
      request = $.ajax({
        type: "GET",
        url: url,
        success: handleResponse
        }
      );
      }


      function handleFavoritedResponse(response)
      {
      $('#favorited').html(response);

      if (faveHeight < $('#fav-content').height())
        $('#resultsWrapper').css("max-height", $('#resultsWrapper').height()-($('#fav-content').height()-faveHeight)+"px");

      else if (faveHeight > $('#fav-content').height())
        $('#resultsWrapper').css("max-height", $('#resultsWrapper').height()+(faveHeight-$('#fav-content').height())+"px");

      faveHeight = $('#fav-content').height();
    }

      function getFavorited(profid)
      {
      $($('.prof'+profid).find('i')).toggleClass("active");
      let url = '/favoritedProf?profid=' + profid;
      if (request != null)
        request.abort();
      request = $.ajax({
        type: "GET",
        url: url,
        success: handleFavoritedResponse
        }
      );
      }
      function getAll(){
        $('#searchBar').val('All');
        $('#searchBar').trigger('change');
      }

      function handleProfResponse(response)
      {
      $('#profSection').html(response);
      }

      function getProfResults(profid)
      {
      if(!$(event.target).is("i")) {
        let url = '/profresults?profid=' + profid;
        if (request != null)
          request.abort();
        request = $.ajax({
          type: "GET",
          url: url,
          success: handleProfResponse
          }
        );
        }
      }

      function toggleFavs() {
        if($('#fav-content').css("max-height") != "0px") {
          $('#fav-content').css("max-height", "0vh");
          $('#fav-toggle').removeClass("fa-minus").addClass("fa-plus");
          $('#resultsWrapper').css("max-height", "64vh");
        }
        else {
          $('#fav-content').css("max-height", "30vh");
          $('#fav-toggle').removeClass("fa-plus").addClass("fa-minus");
          $('#resultsWrapper').css("max-height", $('#resultsWrapper').height()-faveHeight+"px");
        }



      }

      function clearAll(){
        $('#searchBar').val(null).trigger('change');
      }

      function selectCompBio(btn)
      {
        var property = document.getElementById(btn);
        let inputs = $("#searchBar").val();
        var state = 0;
        for (var i=0; i < inputs.length; i++) {
          if (inputs[i] === "Computational Biology") {
            inputs.splice(i,1);
            property.style.backgroundColor = "#5bc0de";
            state = 1;
          }
        }
        if (state == 0) {
          inputs.push("Computational Biology");
          property.style.backgroundColor = "#e65c00";
        }
        $('#searchBar').val(inputs);
        $('#searchBar').trigger('change');
    }
      function selectCompArch(btn)
      {
        var property = document.getElementById(btn);
        let inputs = $("#searchBar").val();
        var state = 0;
        for (var i=0; i < inputs.length; i++) {
          if (inputs[i] === "Computer Architecture") {
            inputs.splice(i,1);
            property.style.backgroundColor = "#5bc0de";
            state = 1;
          }
        }
        if (state == 0) {
          inputs.push("Computer Architecture");
          property.style.backgroundColor = "#e65c00";
        }
        $('#searchBar').val(inputs);
        $('#searchBar').trigger('change');
    }

      function selectEconComp(btn)
      {
        var property = document.getElementById(btn);
        let inputs = $("#searchBar").val();
        var state = 0;
        for (var i=0; i < inputs.length; i++) {
          if (inputs[i] === "Economics/Computation") {
            inputs.splice(i,1);
            property.style.backgroundColor = "#5bc0de";
            state = 1;
          }
        }
        if (state == 0) {
          inputs.push("Economics/Computation");
          property.style.backgroundColor = "#e65c00";
        }
        $('#searchBar').val(inputs);
        $('#searchBar').trigger('change');
      }

      function selectGraphics(btn)
      {
        var property = document.getElementById(btn);
        let inputs = $("#searchBar").val();
        var state = 0;
        for (var i=0; i < inputs.length; i++) {
          if (inputs[i] === "Graphics") {
            inputs.splice(i,1);
            property.style.backgroundColor = "#5bc0de";
            state = 1;
          }
        }
        if (state == 0) {
          inputs.push("Graphics");
          property.style.backgroundColor = "#e65c00";
        }
        $('#searchBar').val(inputs);
        $('#searchBar').trigger('change');
      }
      function selectVision(btn)
      {
        var property = document.getElementById(btn);
        let inputs = $("#searchBar").val();
        var state = 0;
        for (var i=0; i < inputs.length; i++) {
          if (inputs[i] === "Vision") {
            inputs.splice(i,1);
            property.style.backgroundColor = "#5bc0de";
            state = 1;
          }
        }
        if (state == 0) {
          inputs.push("Vision");
          property.style.backgroundColor = "#e65c00";
        }
        $('#searchBar').val(inputs);
        $('#searchBar').trigger('change');
      }
      function selectML(btn)
      {
        var property = document.getElementById(btn);
        let inputs = $("#searchBar").val();
        var state = 0;
        for (var i=0; i < inputs.length; i++) {
          if (inputs[i] === "Machine Learning") {
            inputs.splice(i,1);
            property.style.backgroundColor = "#5bc0de";
            state = 1;
          }
        }
        if (state == 0) {
          inputs.push("Machine Learning");
          property.style.backgroundColor = "#e65c00";
        }
        $('#searchBar').val(inputs);
        $('#searchBar').trigger('change');
      }

      function selectAI(btn)
      {
        var property = document.getElementById(btn);
        let inputs = $("#searchBar").val();
        var state = 0;
        for (var i=0; i < inputs.length; i++) {
          if (inputs[i] === "AI") {
            inputs.splice(i,1);
            property.style.backgroundColor = "#5bc0de";
            state = 1;
          }
        }
        if (state == 0) {
          inputs.push("AI");
          property.style.backgroundColor = "#e65c00";
        }
        $('#searchBar').val(inputs);
        $('#searchBar').trigger('change');
      }

      function selectNatLangProc(btn)
      {
        var property = document.getElementById(btn);
        let inputs = $("#searchBar").val();
        var state = 0;
        for (var i=0; i < inputs.length; i++) {
          if (inputs[i] === "Natural Language Processing") {
            inputs.splice(i,1);
            property.style.backgroundColor = "#5bc0de";
            state = 1;
          }
        }
        if (state == 0) {
          inputs.push("Natural Language Processing");
          property.style.backgroundColor = "#e65c00";
        }
        $('#searchBar').val(inputs);
        $('#searchBar').trigger('change');
      }
      function selectPolicy(btn)
      {
        var property = document.getElementById(btn);
        let inputs = $("#searchBar").val();
        var state = 0;
        for (var i=0; i < inputs.length; i++) {
          if (inputs[i] === "Policy") {
            inputs.splice(i,1);
            property.style.backgroundColor = "#5bc0de";
            state = 1;
          }
        }
        if (state == 0) {
          inputs.push("Policy");
          property.style.backgroundColor = "#e65c00";
        }
        $('#searchBar').val(inputs);
        $('#searchBar').trigger('change');
      }

      function selectProgLangComp(btn)
      {
        var property = document.getElementById(btn);
        let inputs = $("#searchBar").val();
        var state = 0;
        for (var i=0; i < inputs.length; i++) {
          if (inputs[i] === "Programming Languages/Compilers") {
            inputs.splice(i,1);
            property.style.backgroundColor = "#5bc0de";
            state = 1;
          }
        }
        if (state == 0) {
          inputs.push("Programming Languages/Compilers");
          property.style.backgroundColor = "#e65c00";
        }
        $('#searchBar').val(inputs);
        $('#searchBar').trigger('change');
      }

      function selectSecPriv(btn)
      {
        var property = document.getElementById(btn);
        let inputs = $("#searchBar").val();
        var state = 0;
        for (var i=0; i < inputs.length; i++) {
          if (inputs[i] === "Security & Privacy") {
            inputs.splice(i,1);
            property.style.backgroundColor = "#5bc0de";
            state = 1;
          }
        }
        if (state == 0) {
          inputs.push("Security & Privacy");
          property.style.backgroundColor = "#e65c00";
        }
        $('#searchBar').val(inputs);
        $('#searchBar').trigger('change');
      }
      function selectSystems(btn)
      {
        var property = document.getElementById(btn);
        let inputs = $("#searchBar").val();
        var state = 0;
        for (var i=0; i < inputs.length; i++) {
          if (inputs[i] === "Systems") {
            inputs.splice(i,1);
            property.style.backgroundColor = "#5bc0de";
            state = 1;
          }
        }
        if (state == 0) {
          inputs.push("Systems");
          property.style.backgroundColor = "#e65c00";
        }
        $('#searchBar').val(inputs);
        $('#searchBar').trigger('change');
      }
      function selectTheory(btn)
      {
        var property = document.getElementById(btn);
        let inputs = $("#searchBar").val();
        var state = 0;
        for (var i=0; i < inputs.length; i++) {
          if (inputs[i] === "Theory") {
            inputs.splice(i,1);
            property.style.backgroundColor = "#5bc0de";
            state = 1;
          }
        }
        if (state == 0) {
          inputs.push("Theory");
          property.style.backgroundColor = "#e65c00";
        }
        $('#searchBar').val(inputs);
        $('#searchBar').trigger('change');
      }


      $('document').ready(setup);

      </script>
   </body>

</html>
