<!DOCTYPE html>

<html>
   <head>
      <title>Princeton AdvisorSearch</title>
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
   </head>

   <body>

      <div class="header">
         <p style="color:white">AdvisorSearch</p>
      </div>

      <div class="searchBar">
         <form action="index" method="get">
         <table>
            <tr>
               <td>Dept:</td>
               <td><input type="text" name="dept"></td>
            </tr>
            <tr>
               <td>Research Areas:</td>
               <td><input type="text" name="areas"></td>
            </tr>
         </table>
         </form>
      </div>

      <div class="searchResults">
         <h3>Search Results</h3>
         <ul>
         {% for prof in professors: %}
            <li>{{prof.getName()}}</li>
         {% endfor %}
         </ul>
      </div>

      <div class="profSection">
         <p>Prof section</p>
      </div>


   </body>
</html>
