   <!DOCTYPE HTML>
      <!-- taken from stack overflow: bootsrap carousel not working -->
<html>
    <head>
        <title>Princeton AdvisorSearch Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="select2-bootstrap.css">
        <link rel="shortcut icon" href="static/magny-glass.png">
    </head>

    <body>

      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Princeton Advisor Search</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="/resources">Resources</a></li>
              <li><a href="/login">Login</a></li>
            </ul>
          </div>
        </div>
     </nav>

     <div class="header-image">
        <div id="carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img src="static/magny-glass.png" alt="Slide 1">
                    <div class="carousel-caption d-md-block">
                      <p>Explore</p>
                      <h3>Quick searching to find your future advisor</h3>
                    </div>
                </div>
                <div class="item">
                    <img src="static/magny-glass.png" alt="Slide 2">
                    <div class="carousel-caption d-md-block">
                      <p>Connect</p>
                      <h3>Custom built emails to help you reach out</h3>
                    </div>
                </div>
                <div class="item">
                    <img src="static/magny-glass.png" alt="Slide 3">
                    <div class="carousel-caption d-md-block">
                      <p>Share</p>
                      <h3>View other students' projects and post about your own work</h3>
                    </div>
                </div>
            </div>
            <a href="#carousel" class="left carousel-control" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a href="#carousel" class="right carousel-control" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
      </div>
      <div class="col-md-8 text-center align-middle" id="header-content">
        <h1><strong>Welcome to Princeton AdvisorSearch!</strong></h1>
        <button class="button" onclick="window.location.href = '/login';">Click Here to Login</button>
      </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script>
            $("#carousel").carousel({
              interval: 4000
      });
        </script>
    </body>
</html>
