<!DOCTYPE html>

<html>
 <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
 <link rel="shortcut icon" href="static/magny-glass.png">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
 <link rel="stylesheet" href="select2-bootstrap.css">

  <!-- taken from bootstrap carousel -->
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="login">
           <button class="button" onclick="window.location.href = '/login';">Click here to login</button>
        </div>
        <img src="..." class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Explore</h5>
          <p>Quick searching to find your future advisor</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="login">
           <button class="button" onclick="window.location.href = '/login';">Click here to login</button>
        </div>
        <img src="..." class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Connect</h5>
          <p>Custom built emails to help you reach out</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="login">
           <button class="button" onclick="window.location.href = '/login';">Click here to login</button>
        </div>
        <img src="..." class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Share</h5>
          <p>See what other students' projects and post about your own work</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

     <!-- <form action="main">
       <br><br>
       <input type="submit" value="Click here to Login">
     </form> -->

  </body>
</html>
