<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info" data-toggle="modal" data-target="#contactModal">Open Modal</button>

<!-- Modal -->
<div id="contactModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Advisor Email Builder</h4>
      </div>
      <div class="modal-body">
        <p>Van sucks.</p>
        <div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        This is a dropdown menu
         <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="#">Some</a></li>
        <li><a href="#">Nice</a></li>
        <li><a href="#">Links</a></li>
        <li><a href="#">Here</a></li>
    </ul>
</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Send</button>
      </div>
    </div>

  </div>
</div>
