<!DOCTYPE html>

<html>
   <head>
      <title>Princeton AdvisorSearch Resources</title>
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">

      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" integrity="sha384-p2jx59pefphTFIpeqCcISO9MdVfIm4pNnsL08A6v5vaQc4owkQqxMV8kg4Yvhaw/" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">

   </head>

   <body>

      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Princeton Advisor Search</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/">Home</a></li>
              <li><a href="#">About</a></li>
              <li class="active"><a href="/resources">Resources</a></li>
              <li><a href="#">Logout</a></li>
            </ul>
          </div>
        </div>
     </nav>
      <br>
      <br>

      <h3>Getting Started</h3>

      <p>It is best to get started with finding your advisor as early as possible. Once you have found a professor, whose current or past work excites you, go ahead and send a brief email expressing your interest in being their advisee. Here is an example email for you to build off of:</p>
      <p>Dear Professor _______,</p>
      <p>I am a junior/senior in the ______ department and I have been looking into areas of research as areas of research that I may pursue in my IW/Thesis. Your work in these fields has caught my eye, and I would like to be your advisee for my IW/Thesis. Specifically, I find your work on current/past project to be an exciting example that I can work from.</p>
      <p>Please let me know if you are open to discuss being my IW/Thesis advisor further.</p>
      <p>Sincerely,</p>
      <p>__________</p>
  </body>
</html>
