<!DOCTYPE html>

<html>
   <head>
      <title>Princeton AdvisorSearch Resources</title>
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">

      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" integrity="sha384-p2jx59pefphTFIpeqCcISO9MdVfIm4pNnsL08A6v5vaQc4owkQqxMV8kg4Yvhaw/" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
      <link rel="icon" href="https://www.cs.princeton.edu/favicon" />
   </head>

   <body>

      <div class="container-fluid">
         <div class="row">
            <div class="row">
               <nav class="navbar navbar-inverse">
                 <div class="container-fluid">
                   <div class="navbar-header">
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                     </button>
                     <a class="navbar-brand" href="/">Princeton Advisor Search</a>
                   </div>
                   <div class="collapse navbar-collapse" id="myNavbar">
                     <ul class="nav navbar-nav navbar-right">
                       <li><a href="/">Home</a></li>
                       <li><a href="/about">About</a></li>
                       <li class="active"><a href="/resources">Resources</a></li>
                       <li><a href="/logout">Logout</a></li>
                     </ul>
                   </div>
                 </div>
              </nav>
            </div>

            <div class="row">
               <div class="col-md-2 visible-lg">
                  <div class="row">
                     <img src="static/strip51.png" style="width:100%;">
                  </div>
                  <div class="row">
                     <img src="static/strip52.png" style="width:100%;">
                  </div>
                  <div class="row">
                     <img src="static/strip53.png" style="width:100%;">
                  </div>
                  <div class="row">
                     <img src="static/strip54.png" style="width:100%;">
                  </div>
                  <div class="row">
                     <img src="static/strip61.png" style="width:100%;">
                  </div>
                  <div class="row">
                     <img src="static/strip62.png" style="width:100%;">
                  </div>
                  <div class="row">
                     <img src="static/strip63.png" style="width:100%;">
                  </div>
                  <div class="row">
                     <img src="static/strip64.png" style="width:100%;">
                  </div>
               </div>

               <div class="col-lg-8 col-xs-12">
                  <center>
                  <div class="row">
                     <h1>Resources</h1>
                     <h4>It is best to get started on your Independent Work or Thesis as early as possible. Check out these resources to get started early, find funding, and stay up to date with the schedule of deadlines.</h4>
                  </div>

                  <div class="row">
                     <div class="col-md-4 col-xs-12">
                        <img src="static/charliebrown.png" alt="Charlie" style="width:300px;height:300px;">
                     </div>
                     <div class="col-md-8 col-xs-12">
                        <h4>Funding Options:</h4>
                        <p>AB students can apply for <a href="http://undergraduateresearch.princeton.edu/funding/thesis-funding" target="_blank">IW project/senior thesis research funding</a> by accessing the online application in the <a href="http://www.princeton.edu/studentfunding/" target="_blank">Student Activities Funding Engine (SAFE)</a>. Please refer to the Office of Undergraduate Research <a href="http://undergraduateresearch.princeton.edu/calendar" target="_blank">calendar</a> for deadline dates for funding.</p>
                        <p>BSE students will receive an email from the School of Engineering and Applied Sciences regarding <a href="http://undergraduateresearch.princeton.edu/funding/thesis-funding" target="_blank">funding</a> at the beginning of the semester. The deadline date for Fall 2019 is TBD, but you can expect it to be in mid-October. Also, here is the link to the <a href="https://engineering.princeton.edu/undergraduate-studies/sophomore-senior-advising/senior-thesis-independent-work-funding" target="_blank">SEAS funding website</a>.</p>
                        <p>IW Students are also encouraged to review the <a href="https://csguide.cs.princeton.edu/independent-work-hardware" target="_blank">Independent Work Equipment List</a> for materials for their upcooming project. All equipment/materials must be returned at the conclusion of the project.</p>
                        <p>This is the current SEAS funding application. Be sure to look it over and know what to expect when applying for funding.</p>
                     </div>
                  </div>

                  <div class="row">
                     <div class="col-md-3 col-xs-12">
                        <img src="static/woodstock.png" alt="Woodstock" style="width:200px;height:200px;">
                     </div>
                     <div class="col-md-6 col-xs-12">
                        <h4>Timeline:</h4>
                        <p>Refer to the <a href="https://www.cs.princeton.edu/ugrad/independent-work/important-steps-and-deadlines" target="_blank">schedule</a> for a comprehensive list of deadlines to be met on your IW/Thesis journey.</p>
                     </div>
                     <div class="col-md-3 col-xs-12">
                        <img src="static/hockey.png" alt="Snoopy" style="width:200px;height:200px;">
                     </div>
                  </div>

                  <div class="row">
                     <h4>People to Contact:</h4>
                     <div class="col-md-4 col-xs-12">
                        <img src="https://www.cs.princeton.edu/sites/all/modules/custom/cs_people/default.png" alt="David Dobkin" style="width:80px;height:100px;"> <br>
                        Mikki Hornstein <br>
                        Independent Work Administrator <br>
                        <a href="https://www.cs.princeton.edu/people/admins" target="_blank">mh45@cs.princeton.edu</a>
                     </div>
                     <div class="col-md-4 col-xs-12">
                        <img src="https://engineering.princeton.edu/sites/default/files/thumbnails/image/Dobkin-600x450.jpg" alt="David Dobkin" style="width:80px;height:100px;"> <br>
                        David Dobkin <br>
                        IW coordinator <br>
                        <a href="https://www.cs.princeton.edu/people/profile/dpd" target="_blank">dpd@cs.princeton.edu</a>
                     </div>
                     <div class="col-md-4 col-xs-12">
                        <img src="https://engineering.princeton.edu/sites/default/files/thumbnails/image/rfish_450x600.jpg" alt="Robert Fish" style="width:80px;height:100px;"> <br>
                        Dr. Robert Fish <br>
                        IW coordinator <br>
                        <a href="https://www.cs.princeton.edu/people/profile/rfish" target="_blank">rfish@cs.princeton.edu</a>
                     </div>
                  </div>

                  <div class="row visible-lg">
                     <img src="https://pics.me.me/if-you-think-you-are-too-small-to-make-a-18490599.png" alt="quote" style="width:800px;height:250px;">
                     <br>
                     <br>
                     <br>
                  </div>

                    <div class="row visible-lg">
                      <div class="col-md-6 col-xs-12">
                        <img src="static/friendship2.png" alt="friendship2" style="width:420px;height:250px;">
                      </div>
                      <div class="col-md-6 col-xs-12">
                        <img src="static/friendship3.png" alt="friendship3" style="width:420px;height:250px;">
                      </div>
                    </div>
                  </br>
                    <img src="static/snoopdogg.gif" alt="snoopdogg" style="width:420px;height:420px;">
                  </center>

               </div>

               <div class="col-md-2 visible-lg">
                  <div class="row">
                     <img src="static/strip71.png" style="width:100%;">
                  </div>
                  <div class="row">
                     <img src="static/strip72.png" style="width:100%;">
                  </div>
                  <div class="row">
                     <img src="static/strip73.png" style="width:100%;">
                  </div>
                  <div class="row">
                     <img src="static/strip74.png" style="width:100%;">
                  </div>
                  <div class="row">
                     <img src="static/strip81.png" style="width:100%;">
                  </div>
                  <div class="row">
                     <img src="static/strip82.png" style="width:100%;">
                  </div>
                  <div class="row">
                     <img src="static/strip83.png" style="width:100%;">
                  </div>
                  <div class="row">
                     <img src="static/strip84.png" style="width:100%;">
                  </div>
               </div>
            </div>
         </div>
      </div>

      <script>
        window.onscroll = function() {myFunction()};

        var navbar = document.getElementById("navbar");
        var sticky = navbar.offsetTop;

        function myFunction() {
          if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
          } else {
            navbar.classList.remove("sticky");
          }
        }
      </script>


  </body>
</html>
